extends layout

block content
  // h1= title
  // p Welcome to #{title}
  
  // canvas(id="viewport" width="400px" height="400px")
  
  // block js
  script(src="js/pixi.js")
  script(src="js/engine.io.js")
  script(src="js/websockets-client.js")
